{% extends 'base.html' %}

{% block conteudo %}
    <div class="row">
      <img src="{{ url_for('static', filename=produto.imagem) }}" alt="{{ produto.nome }}" class="col-lg-6 img-fluid object-fit-contain" style="max-height: 500px">
      <div class="card-body col-lg-6 d-flex justify-content-center flex-column flex-grow-1">
        <h5 class="card-title">{{ produto.nome }}</h5>
        <p class="card-text">{{ produto.descricao }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center gap-2">
            <span class="text-success fw-bold fs-3">R$ {{ produto.preco }}</span>
            <small class="text-muted">ou 12x de R$ {{ produto.preco // 12 }}</small>
          </div>
          <span class="badge rounded-pill text-bg-primary">
            <i class="bi bi-star-fill"></i>
            {{ produto.avaliacao }}
          </span>
        </div>
        <div class="d-flex justify-content-end align-items-center mt-3">
          <button type="button" class="btn btn-outline-secondary mx-2">Adicionar ao carrinho</button>
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
        <a href="{{ url_for('pagina_produtos') }}" class="btn btn-link mt-3 align-self-end">Voltar para os produtos</a>
      </div>
    </div>
{% endblock conteudo %}
